<form class="{{cssClass}} clock-block" autocomplete="off">

	{{#if editable}}
    <div class="clock-name editable">
        <input type="text" id="{{id}}-clock-name" name="name" value="{{name}}" />
	</div>
	{{else}}
	<div class="clock-name">
		<input name="name" value="{{actor.name}}" readonly /> 
	</div>
	{{/if}}
	{{#if editable}}
	<div class="clock-config">
		<div class="clock-config-group">
			<label for="system.type"><i class="fa fa-chart-pie"></i></label>
			<select data-type="String" name="system.type">
				{{#select system.type}}
				<option value="4">4</option>
				<option value="6">6</option>
				<option value="8">8</option>
				<option value="10">10</option>
				<option value="12">12</option>
				{{/select}}
			</select>
		</div>
		<div class="clock-config-group">
			<label for="system.color"><i class="fa fa-palette"></i></label>
			<select data-type="String" name="system.color">
				{{#select system.color}}
				<option value="black">black</option>
				<option value="blue">blue</option>
				<option value="green">green</option>
				<option value="grey">grey</option>
				<option value="red">red</option>
				<option value="white">white</option>
				<option value="yellow">yellow</option>
				{{/select}}
			</select>
		</div>
	</div>
	{{/if}}
        <div class="clocks clocks-{{system.type}}">
            {{{blades-clock-color "system.value" system.type system.color system.value _id}}}
        </div>

</form>